@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-overpass);
}

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  a,
  Link {
    @apply border-b border-zinc-300/50 text-inherit no-underline! transition-all duration-100 hover:border-zinc-400/90;
  }

  p,
  li {
    @apply overflow-hidden leading-7 text-ellipsis text-zinc-300/90;
  }
}

@layer utilities {
  .icon {
    display: inline-block;
    width: 1em; /* 跟随当前字体大小 */
    height: 1em;
    vertical-align: -0.125em; /* 微调到和文字基线齐平，可按实际字体再调 ±0.05em */
  }
}
