---
---
<div class="container mx-auto flex max-w-3xl flex-1 flex-col items-center justify-center px-6 text-center text-sm md:text-base">
  <div class="mb-6 md:mb-10">
    <img
      class="rounded-full transition-all duration-100"
      src="/images/avatar.webp"
      alt="Aozaki's avatar"
      width="120"
      height="120"
    />
  </div>
  <h1 class="mb-6 text-3xl font-bold text-zinc-200 md:mb-8 md:text-4xl">[ Aozaki ]</h1>
  <div class="bg-night-blue">
    <p class="mb-3 break-words md:mb-8">
      <i class="fa-solid fa-stethoscope" /> Doctor /
      <i class="fa-solid fa-heart-pulse" /> Cardiologist /
      <i class="fa-solid fa-graduation-cap" /> MD
    </p>
    <p class="mb-3 md:mb-8">
      <i class="fa-solid fa-camera-retro" /> Photographer /
      <i class="fa-solid fa-headphones-simple" /> Audiophile /
      <i class="fa-solid fa-film" /> Cinephile
    </p>
    <p>
      <i class="fa-solid fa-feather-pointed" /> <a href="https://blog.aozaki.cc/">My Blog</a>
      <span class="px-2" />
      <i class="fa-brands fa-twitter" />
      <a href="https://310.im/x" target="_blank" rel="noopener noreferrer">Twitter</a>
      <span class="px-2" />
      <i class="fa-brands fa-mastodon" />
      <a href="https://310.im/ms" target="_blank" rel="me noopener noreferrer">Mastodon</a>
      <span class="px-2" />
      <i class="fa-brands fa-github" />
      <a href="https://310.im/gh" target="_blank" rel="noopener noreferrer">Github</a>
    </p>
  </div>
  <div class="bg-night-blue text-center">
    <p class="mt-3 md:mt-8">
      <i class="fa-brands fa-discord" />
      <a href="https://310.im/dc" target="_blank" rel="me noopener noreferrer">Discord</a>
      <span class="px-2" />
      <i class="fa-brands fa-telegram" />
      <a href="https://310.im/tg" target="_blank" rel="me noopener noreferrer">Telegram</a>
    </p>
    <p class="mt-3 md:mt-8">
      <i class="fa-solid fa-envelope" /> <a href="mailto:i@aozaki.cc">i#aozaki.cc</a>
    </p>
  </div>
</div>
