---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Avatar from "../../public/images/avatar.webp";
---

<div
  class="container mx-auto flex max-w-3xl flex-1 flex-col items-center justify-center px-6 text-center text-sm md:text-base"
>
  <div class="mb-6 md:mb-10">
    <Image
      class="rounded-full transition-all duration-100 w-30"
      src={Avatar}
      alt="Aozaki's avatar"
    />
  </div>

  <h1 class="mb-6 text-3xl font-bold text-zinc-200 md:mb-8 md:text-4xl">[ Aozaki ]</h1>

  <div>
    <p class="mb-3 break-words md:mb-8">
      <Icon name="fa6-solid:stethoscope" class="icon" aria-hidden="true" />
      Doctor /
      <Icon name="fa6-solid:heart-pulse" class="icon" aria-hidden="true" />
      Cardiologist /
      <Icon name="fa6-solid:graduation-cap" class="icon" aria-hidden="true" />
      MD
    </p>

    <p class="mb-3 md:mb-8">
      <Icon name="fa6-solid:camera-retro" class="icon" aria-hidden="true" />
      Photographer /
      <Icon name="fa6-solid:headphones-simple" class="icon" aria-hidden="true" />
      Audiophile /
      <Icon name="fa6-solid:film" class="icon" aria-hidden="true" />
      Cinephile
    </p>

    <p>
      <Icon name="fa6-solid:feather-pointed" class="icon" aria-hidden="true" />
      <a href="https://blog.aozaki.cc/" class="hover:underline">My Blog</a>
      <span class="px-2"></span>
      <Icon name="fa6-brands:twitter" class="icon" aria-hidden="true" />
      <a href="https://310.im/x" target="_blank" rel="noopener noreferrer" class="hover:underline"
        >Twitter</a
      >
      <span class="px-2"></span>
      <Icon name="fa6-brands:mastodon" class="icon" aria-hidden="true" />
      <a
        href="https://310.im/ms"
        target="_blank"
        rel="me noopener noreferrer"
        class="hover:underline">Mastodon</a
      >
      <span class="px-2"></span>
      <Icon name="fa6-brands:github" class="icon" aria-hidden="true" />
      <a href="https://310.im/gh" target="_blank" rel="noopener noreferrer" class="hover:underline"
        >GitHub</a
      >
    </p>
  </div>

  <div class="bg-night-blue text-center">
    <p class="mt-3 md:mt-8">
      <Icon name="fa6-brands:discord" class="icon" aria-hidden="true" />
      <a
        href="https://310.im/dc"
        target="_blank"
        rel="me noopener noreferrer"
        class="hover:underline">Discord</a
      >
      <span class="px-2"></span>
      <Icon name="fa6-brands:telegram" class="icon" aria-hidden="true" />
      <a
        href="https://310.im/tg"
        target="_blank"
        rel="me noopener noreferrer"
        class="hover:underline">Telegram</a
      >
    </p>

    <p class="mt-3 md:mt-8">
      <Icon name="fa6-solid:envelope" class="icon" aria-hidden="true" />
      <a href="mailto:i@aozaki.cc" class="hover:underline">i#aozaki.cc</a>
    </p>
  </div>
</div>
