---
---
<html lang="en" class="font-sans">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;800&display=block" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Aozaki</title>
    <meta name="description" content="Aozaki's Profile" />
    <meta property="og:title" content="Aozaki" />
    <meta property="og:site_name" content="Aozaki" />
    <meta property="og:description" content="Aozaki's Profile" />
    <meta property="og:image" content="https://aozaki.cc/twitter-card.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aozaki.cc" />
    <meta name="twitter:site" content="@Aozaki__" />
    <meta name="application-name" content="Aozaki" />
    <link rel="stylesheet" href="/styles/globals.css" />
  </head>
  <body class="dotback2 bg-night-blue box-border flex min-h-[100dvh] flex-col tracking-tight antialiased selection:bg-sky-600/20 md:tracking-normal">
    <slot />
    <script data-domain="aozaki.cc" src="https://sight.aozaki.cc/app.js"></script>
  </body>
</html>
